%h1.underline
  =t :label_last_x_domains, :value => 3

%table
  = render :partial => '/domains/domain', :collection => @latest_domains

%h1.underline 
  = t :label_new_domain

= render :partial => '/domains/new'
